<p><strong>Movies</strong></p>
<ul class="list-group">
  <% @list.movies.each do |movie| %>
    <li class="list-group-item"><%= movie.title %> <%= movie.overview %></li>
  <% end %>
</ul>

<%= link_to "Back to List", lists_path %>
